/* Login.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.login-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('./bc.jpeg'); /* Adjusted path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #15301e;
}

.login-box .btn {
  background-color: #194d2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.2s;
}

.login-box .btn:hover {
  background-color: #de8a53;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
}

.image-container img {
  width: 120%;
  max-width: 1300px; /* Set a max width if needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
